<h2>training works!</h2>

<mat-card class="menu-area" *ngFor="let labeledData of labeledDatas; let i = index">
  <div class="container" fxLayout="column">

    <!-- remove delete -->
    <div class="containar delete-area" fxLayout="row">
      <div class="warn" *ngIf="!canTrainClass(i)">
        無効
        <span class="material-icons">warning</span>
      </div>
      <button mat-button class="delete-button" color="primary" (click)="clearIsTrainFlag(i)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-button class="delete-button" color="primary" (click)="changeIsTrainClass(i)"
        *ngIf="!labeledDatas[i].isTrain; else changeIsTrain">
        <mat-icon>check_box</mat-icon>
      </button>
      <ng-template #changeIsTrain>
        <button mat-button class="delete-button" color="primary" (click)="changeIsTrainClass(i)">
          <mat-icon>indeterminate_check_box</mat-icon>
        </button>
      </ng-template>
    </div>

    <div class="container label-area" fxLayout="row">
      <span class="class-index">{{ i + 1 }} : </span>
      <span class="label">{{ labeledDatas[i].label }} : </span>
      <span class="image-num">{{ labeledDatas[i].isTrainNum() }} / {{ labeledData.imageInfos.length }} </span>
    </div>

    <!-- images -->
    <div id="train-thumbnails{{i}}" class="container thumbnails" fxLayout="row">

    </div>
  </div>

</mat-card>

<!-- training summary -->
<div id="training-summary-area" [hidden]="!canTrain()">
  <mat-card class="summary-area">
    <h3>training summary</h3>
    <div class="containar" fxLayout="row">
      <div class="summary" [hidden]="!displaySummary">
        <button mat-button class="delete-button delete-area" *ngIf="canTrain()" color="primary"
          (click)="changeSummary()">
          <mat-icon>compare_arrows</mat-icon>
        </button>

        <canvas baseChart id="training-summary" class="chart" *ngIf="canTrain() && viewSummary == viewSummarys[0]"
          width="500" height="300" [data]="summaryChartData" [options]="summaryChartDoughnutOptions" [type]="'doughnut'"
          (chartClick)="summaryClick($event)"></canvas>

        <div id="training-summary-bar" class="chart">
          <canvas baseChart *ngIf="canTrain() && viewSummary == viewSummarys[1]" height="300" [data]="summaryChartData"
            [options]="summaryChartBarOptions" [plugins]="summaryBarChartPlugins" [legend]="summaryBarChartLegend"
            [type]="'bar'"></canvas>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="canTrain()">
    <button mat-button color="primary" *ngIf="!displaySummary; else hiddenSummary" (click)="changeDisplaySummary()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <ng-template #hiddenSummary>
      <button mat-button color="primary" (click)="changeDisplaySummary()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </ng-template>
  </mat-card>
</div>

<!-- train menu -->
<mat-card class="train-menu-area">
  <h3>training menu</h3>

  <div class="container" fxLayout="column">
    <!-- base model -->
    <span class="param-title">Base Model</span>
    <div class="container params" fxLayout="row">
      <div *ngFor="let baseModelParam of baseModelParams">
        <input type="radio" name="baseModel" class="param-radio" value="{{ baseModelParam.value }}"
          [(ngModel)]="baseModel" [disabled]="isTraining">
        <span class="param-label">{{ baseModelParam.label}}</span>
      </div>
    </div>

    <!-- epochs-->
    <span class="param-title">Epochs</span>
    <div class="container params" fxLayout="row">
      <div *ngFor="let epochsParam of epochsParams">
        <input type="radio" name="epochs" class="param-radio" value="{{ epochsParam.value }}" [(ngModel)]="epochs"
          [disabled]="isTraining">
        <span class="param-label">{{ epochsParam.label}}</span>
      </div>
    </div>

    <!-- batch size-->
    <span class="param-title">Batch Size</span>
    <div class="container params" fxLayout="row">
      <div *ngFor="let batchSizeParam of batchSizeParams">
        <input type="radio" name="batchSize" class="param-radio" value="{{ batchSizeParam.value }}"
          [(ngModel)]="batchSize" [disabled]="isTraining">
        <span class="param-label">{{ batchSizeParam.label}}</span>
      </div>
    </div>

    <!-- learning rate -->
    <span class="param-title">Learning Rate</span>
    <div class="container params" fxLayout="row">
      <div *ngFor="let learningRateParam of learningRateParams">
        <input type="radio" name="learningRate" class="param-radio" value="{{ learningRateParam.value }}"
          [(ngModel)]="learningRate" [disabled]="isTraining">
        <span class="param-label">{{ learningRateParam.label}}</span>
      </div>
    </div>

    <!-- validation split -->
    <span class="param-title">Validation Split</span>
    <div class="container params" fxLayout="row">
      <div *ngFor="let validationSplitParam of validationSplitParams">
        <input type="radio" name="validationSplit" class="param-radio" value="{{ validationSplitParam.value }}"
          [(ngModel)]="validationSplit" [disabled]="isTraining">
        <span class="param-label">{{ validationSplitParam.label}}</span>
      </div>
    </div>

  </div>
  <mat-card-actions>
    <button mat-button color="primary" class="training-button" [disabled]="!canTrain() || isTraining"
      (click)="startTraining()">
      <mat-icon>trending_up</mat-icon>
      start training
    </button>
    <button mat-button color="primary" class="training-button" [disabled]="!isTraining || isCancelTraining"
      (click)="onCancelTraining()">
      <mat-icon>close</mat-icon>
      cancel training
    </button>

  </mat-card-actions>
</mat-card>

<!-- training status -->
<mat-card *ngIf="isTraining || isCancelTraining">
  <h3>training status</h3>
  <div *ngIf="!isCancelTraining; else cancelTraining">
    <span class="training-status">{{ trainingStatus }}</span>
    <div class=training-bar>
      <mat-progress-bar *ngIf="trainingRate < 0; else determinate" mode="indeterminate"></mat-progress-bar>
      <ng-template #determinate>
        <mat-progress-bar mode="determinate" value="{{trainingRate}}"></mat-progress-bar>
      </ng-template>
    </div>
  </div>

  <!-- cancel status -->
  <ng-template #cancelTraining>
    <span class="training-status">{{ cancelStatus }}</span>
    <div class=training-bar *ngIf="isTraining">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</mat-card>

<!-- training report -->
<div *ngIf="hasTrained() && !isTraining">
  <mat-card class="train-menu-area">
    <h3>training report</h3>
    <div *ngIf="displayReport">
      <div id="report-area" class="container report-area" fxLayout="row">

        <div class="table-container report-log-area">
          <span> processing time</span>
          <table mat-table [dataSource]="reportLogs">
            <ng-container *ngFor="let column of reportLogLabals" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let data">{{ data[column] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="reportLogLabals"></tr>
            <tr mat-row *matRowDef="let row; columns: reportLogLabals;"></tr>
          </table>
        </div>

        <div class="report-log-area">
          <span> training class</span>
          <ul *ngFor="let index of trainedClassList">
            <li> {{ labeledDatas[index].label }} </li>
          </ul>
        </div>

        <div class="acc">
          <canvas baseChart id="acc" height="300" width="300" [data]="accLineChartData" [options]="accLineChartOptions"
            [type]="'line'"></canvas>
        </div>
        <div class="loss">
          <canvas baseChart id="loss" height="300" width="300" [data]="lossLineChartData"
            [options]="lossLineChartOptions" [type]="'line'"></canvas>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <button mat-button color="primary" *ngIf="!displayReport; else hiddenReport" (click)="changeDisplayReport()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <ng-template #hiddenReport>
      <button mat-button color="primary" (click)="changeDisplayReport()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </ng-template>
  </mat-card>
</div>