<h2>collection works!</h2>

<mat-card class="summary-area">
  <h3>collection summary</h3>
  <div id="coll-summary-area" class="containar coll-summary-area" fxLayout="row" [hidden]="!displaySummary"
    [ngSwitch]="viewSummary">
    <div class="summary" [hidden]="hasEmptyImage()">
      <button mat-button class="delete-button delete-area" color="primary" (click)="changeSummary()">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <canvas baseChart id="coll-summary-doughnut" class="chart" *ngSwitchCase="viewSummarys[0]" width="500"
        height="300" [data]="summaryChartData" [options]="summaryChartDoughnutOptions" [type]="'doughnut'"
        (chartClick)="summaryClick($event)"></canvas>
      <div id="coll-summary-bar" class="chart">
        <canvas baseChart *ngSwitchCase="viewSummarys[1]" height="300" [data]="summaryChartData"
          [options]="summaryChartBarOptions" [plugins]="summaryBarChartPlugins" [legend]="summaryBarChartLegend"
          [type]="'bar'"></canvas>
      </div>
    </div>
    <span class="add-image-message" *ngIf="hasEmptyImage()">add image samples</span>
  </div>
</mat-card>
<mat-card>
  <button mat-button color="primary" *ngIf="!displaySummary; else hiddenSummary" (click)="changeDisplaySummary()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <ng-template #hiddenSummary>
    <button mat-button color="primary" (click)="changeDisplaySummary()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </ng-template>
</mat-card>

<mat-card class="upload-menu">
  <h3>collection option</h3>
  <div class="container params" fxLayout="row">
    <mat-slide-toggle color="primary" [(ngModel)]="isCutSquare" [disabled]="isAddingImage">
      <span class="param-label">Crop image to square</span>
    </mat-slide-toggle>
  </div>
</mat-card>

<mat-card class="collection-area" *ngFor="let labeledData of labeledDatas; let i = index; trackBy: myTrackBy">
  <div id="coll-menu-area{{i}}" class="container" fxLayout="column">

    <!-- remove delete -->
    <div class="containar delete-area" fxLayout="row">
      <button mat-button class="delete-button" color="primary" (click)="selectImageInClass(i)"
        [disabled]="openWebcamAreaFlg">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-button class="delete-button" color="primary" (click)="pushDeleteClass(i)"
        [disabled]="openWebcamAreaFlg">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="container label-area" fxLayout="row">
      <span class="class-index">{{ i + 1 }} : </span>
      <div class="input-area">
        <input id="coll-label{{i}}" class="label" [(ngModel)]="labeledDatas[i].label" (change)="changeLabelName(i)">
        <span class="material-icons edit-icons">edit</span>
      </div>
    </div>

    <span class="image-num" *ngIf="labeledData.imageInfos.length > 0">
      {{ labeledData.imageInfos.length }} image samples
    </span>
    <span class="add-image-message" *ngIf="labeledData.imageInfos.length < minCanTrainImageNum">
      add {{ minCanTrainImageNum }} or more image samples
    </span>

    <div class="container button-area" fxLayout="row">
      <!-- upload -->
      <mat-card-actions>
        <button mat-button color="primary" (click)="fileInput.click()" [disabled]="openWebcamAreaFlg">
          <div class="container button" fxLayout="column">
            <span class="material-icons">upload</span>
            <span>upload</span>
          </div>
        </button>
        <input hidden (change)="selectedFile(i)" multiple #fileInput accept="image/x-png, image/jpeg" type="file"
          id="coll-file{{i}}">
      </mat-card-actions>

      <!-- webcam -->
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="openWebcamAreaFlg">
          <div class="container button" fxLayout="column" (click)="openWebcamArea(i)">
            <span class="material-icons">switch_video</span>
            <span>web camera</span>
          </div>
        </button>
      </mat-card-actions>
    </div>
  </div>

  <!-- webcam area -->
  <div id="coll-webcam-area{{i}}" class="coll-webcam-area" style="display: none;">
    <form #webCamForm="ngForm">
      <div class="containar" fxLayout="row">
        <button mat-button class="delete-button delete-area" color="primary" (click)="closeWebcamArea(i)"
          [disabled]="isAddingImage">
          <mat-icon>compare_arrows</mat-icon>
        </button>
        <div class="container" fxLayout="column">
          <video id="coll-webcam{{i}}" class="webcam" playsInline muted></video>
          <button mat-button class="menu-button" color="primary" (click)="startRecord(i)"
            [disabled]="isAddingImage || webCamForm.invalid">
            {{ recordLabel }}
          </button>
        </div>
        <div class="container" fxLayout="column">

          <!-- fps -->
          <span class="param-title">FPS</span>
          <div class="params containar" fxLayout="column">
            <div class="form-input-area">
              <input type="number" class="form-num" name="fps{{i}}" required min="1" max="60" step="1" #fpsVal="ngModel"
                [(ngModel)]="fps" [disabled]="isAddingImage" appIntegerOnly>
            </div>
            <div *ngIf="fpsVal.invalid" class="warn">Please enter a number between 1 and 60.</div>
          </div>

          <!-- delay -->
          <span class="param-title">Delay</span>
          <div class="params containar" fxLayout="column">
            <div class="form-input-area">
              <input type="number" class="form-num" name="delay{{i}}" required min="1" max="5" step="1"
                #delayVal="ngModel" [(ngModel)]="delay" [disabled]="isAddingImage" appIntegerOnly>
            </div>
            <div *ngIf="delayVal.invalid" class="warn">Please enter a number between 1 and 5.</div>
          </div>

          <!-- duration -->
          <span class="param-title">Duration</span>
          <div class="params containar" fxLayout="column">
            <div class="form-input-area">
              <input type="number" class="form-num" name="duration{{i}}" required min="1" max="5" step="1"
                #durationVal="ngModel" [(ngModel)]="duration" [disabled]="isAddingImage" appIntegerOnly>
            </div>
            <div *ngIf="durationVal.invalid" class="warn">Please enter a number between 1 and 5.</div>
          </div>

        </div>
      </div>
    </form>
  </div>

  <!-- thumbnail area -->
  <app-thumbnail [index]="i" [prefix]="prefix" (selectThumbnail)="changeDeleteFlag($event)"
    (clickThumbnail)="getImageInfo($event)"></app-thumbnail>
</mat-card>

<mat-card class="add-area">
  <button mat-button color="primary" [disabled]="!canAddClass()" (click)="addClass()">
    <mat-icon>add_box</mat-icon>
    add class
  </button>
</mat-card>

<mat-card class="menu-area">
  <h3>collection menu</h3>
  <div class="container" fxLayout="row">
    <button mat-button class="menu-button" color="primary" (click)="pushDeleteImageInList()"
      [disabled]="openWebcamAreaFlg || deleteList.length == 0">
      <mat-icon>delete_forever</mat-icon>
      delete selected images
      <span *ngIf="deleteList.length > 0"> ( {{ deleteList.length }} ) </span>
    </button>
    <button mat-button class="menu-button" color="primary" (click)="pushDeleteImageAll()"
      [disabled]="openWebcamAreaFlg">
      <mat-icon>delete_forever</mat-icon>
      delete all images
    </button>
    <button mat-button class="menu-button" color="primary" (click)="pushRefreshDataset()"
      [disabled]="openWebcamAreaFlg">
      <mat-icon>refresh</mat-icon>
      refresh dataset
    </button>

  </div>

  <div class="container" fxLayout="row">
    <button mat-button class="menu-button" color="primary" (click)="downloadDataset()"
      [disabled]="hasEmptyImage() || openWebcamAreaFlg">
      <mat-icon>download</mat-icon>
      download dataset
    </button>
    <button mat-button class="menu-button" color="primary" (click)="jsonInput.click()" [disabled]="openWebcamAreaFlg">
      <mat-icon>upload</mat-icon>
      upload dataset
    </button>
    <input hidden (change)="uploadDataset()" #jsonInput accept="application/json" type="file" id="json">
  </div>
</mat-card>

<app-project-menu (setDataset)="setDataset($event)" (getDataset)="getDataset($event)">
</app-project-menu>