<h2>training works!</h2>

<mat-card class="menu-area" *ngFor="let labeledData of labeledDatas; let i = index">
  <div class="container" fxLayout="column">

    <!-- remove delete -->
    <div class="containar delete-area" fxLayout="row">
      <div class="warn" *ngIf="!canTrainClass(i)">
        無効
        <span class="material-icons">warning</span>
      </div>
      <button mat-button class="delete-button" color="primary" (click)="clearIsTrainFlag(i)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-button class="delete-button" color="primary" (click)="changeIsTrainClass(i)"
        *ngIf="!labeledDatas[i].isTrain; else changeIsTrain">
        <mat-icon>check_box</mat-icon>
      </button>
      <ng-template #changeIsTrain>
        <button mat-button class="delete-button" color="primary" (click)="changeIsTrainClass(i)">
          <mat-icon>indeterminate_check_box</mat-icon>
        </button>
      </ng-template>
    </div>

    <div class="container label-area" fxLayout="row">
      <span class="class-index">{{ i + 1 }} : </span>
      <span class="label">{{ labeledDatas[i].label }} : </span>
      <span class="image-num">{{ labeledDatas[i].isTrainNum() }} / {{ labeledData.imageInfos.length }} </span>
    </div>

    <!-- thumbnail area -->
    <app-thumbnail [index]="i" [prefix]="prefix" (selectThumbnail)="changeIsTrainImage($event)"
      (clickThumbnail)="getImageInfo($event)"></app-thumbnail>
  </div>

</mat-card>

<!-- training summary -->
<app-summary [prefix]="prefix"></app-summary>

<!-- train menu -->
<mat-card class="train-menu-area">
  <h3>training menu</h3>
  <form #trainingForm="ngForm">
    <div class="container " fxLayout="row">
      <div class="container train-param-area" fxLayout="column">
        <div class="param-type">training parameter</div>
        <div class="container" fxLayout="column">
          <!-- base model -->
          <span class="param-title">Base Model</span>
          <div class="container params" fxLayout="column">
            <div *ngFor="let baseModelParam of baseModelParams">
              <input type="radio" name="baseModel" class="param-radio" value="{{ baseModelParam.value }}"
                [(ngModel)]="baseModel" [disabled]="isTraining">
              <span class="param-label">{{ baseModelParam.label}}</span>
            </div>
          </div>

          <!-- epochs-->
          <span class="param-title">Epochs</span>
          <div class="params containar" fxLayout="column">
            <div class="input-area">
              <input type="number" class="form-num" name="epochs-num" required min="1" #epochsVal="ngModel"
                [(ngModel)]="epochs" [disabled]="isTraining" appIntegerOnly>
            </div>
            <div *ngIf="epochsVal.invalid" class="warn">Please enter a number greater than or equal to 1.</div>
          </div>

          <!-- batch size-->
          <span class="param-title">Batch Size</span>
          <div class="params containar" fxLayout="column">
            <div class="input-area">
              <input type="number" class="form-num" name="batch-size-num" required min="2" step="2"
                #batchSizeVal="ngModel" [(ngModel)]="batchSize" [disabled]="isTraining" appIntegerOnly>
            </div>
            <div *ngIf="batchSizeVal.invalid" class="warn">Please enter a number greater than or equal to 2.</div>
          </div>

          <!-- learning rate -->
          <span class="param-title">Learning Rate</span>
          <div class="params containar" fxLayout="column">
            <div class="input-area">
              <input type="number" class="form-num" name="learning-rate-num" required min="{{ minLearningRate }}"
                max="1" step="{{ minLearningRate }}" #learningRateVal="ngModel" [(ngModel)]="learningRate"
                [disabled]="isTraining">
            </div>
            <div *ngIf="learningRateVal.invalid" class="warn">Please enter a number between 0.00001 and 1.</div>
          </div>

          <!-- validation split -->
          <span class="param-title">Validation Split</span>
          <div class="params containar" fxLayout="column">
            <div class="input-area">
              <input type="number" class="form-num" name="validation-split-num" required min="0.05" max="0.5"
                step="0.05" #validationSplitVal="ngModel" [(ngModel)]="validationSplit" [disabled]="isTraining">
            </div>
            <div *ngIf="validationSplitVal.invalid" class="warn">Please enter a number between 0.05 and 0.5.</div>
          </div>

        </div>
      </div>

      <!-- ReduceLROnPlateau -->
      <div class="container train-param-area" fxLayout="column">

        <div class="param-type">ReduceLROnPlateau</div>

        <mat-slide-toggle class="train-param-slide" name="reduce-lron-plateau-flag" color="primary"
          [(ngModel)]="reduceLROnFlag" [disabled]="isTraining">
          <span class="param-title">ReduceLROnPlateau</span>
        </mat-slide-toggle>

        <span class="param-title">Factor</span>
        <div class="params containar" fxLayout="column">
          <div class="input-area">
            <input type="number" class="form-num" name="reduce-factor-num" required min="0.1" max="1" step="0.05"
              #reduceFactorVal="ngModel" [(ngModel)]="reduceFactor" [disabled]="isTraining || !reduceLROnFlag">
          </div>
          <div *ngIf="reduceFactorVal.invalid" class="warn">Please enter a number between 0.1 and 1.</div>
        </div>

        <span class="param-title">Patience</span>
        <div class="params containar" fxLayout="column">
          <div class="input-area">
            <input type="number" class="form-num" name="reduce-patience-num" required min="1"
              #reducePatienceVal="ngModel" [(ngModel)]="reducePatience" [disabled]="isTraining || !reduceLROnFlag"
              appIntegerOnly>
          </div>
          <div *ngIf="reducePatienceVal.invalid" class="warn">Please enter a number greater than or equal to 1.</div>
        </div>

        <span class="param-title">Min Delta</span>
        <div class="params containar" fxLayout="column">
          <div class="input-area">
            <input type="number" class="form-num" name="reduce-min-delta-num" required min="0" step="0.01"
              #reduceMinDeltaVal="ngModel" [(ngModel)]="reduceMinDelta" [disabled]="isTraining || !reduceLROnFlag">
          </div>
          <div *ngIf="reduceMinDeltaVal.invalid" class="warn">Please enter a number greater than or equal to 0.</div>
        </div>

      </div>

      <!-- earlyStopping -->
      <div class="container train-param-area" fxLayout="column">

        <div class="param-type">Early Stopping</div>

        <mat-slide-toggle class="train-param-slide" name="early-stopping-flag" color="primary"
          [(ngModel)]="earlyStoppingFlag" [disabled]="isTraining">
          <span class="param-title">Early Stopping</span>
        </mat-slide-toggle>

        <span class="param-title">Patience</span>
        <div class="params containar" fxLayout="column">
          <div class="input-area">
            <input type="number" class="form-num" name="early-patience-num" required min="1"
              #earlyStopPatienceVal="ngModel" [(ngModel)]="earlyStopPatience"
              [disabled]="isTraining || !earlyStoppingFlag" appIntegerOnly>
          </div>
          <div *ngIf="earlyStopPatienceVal.invalid" class="warn">Please enter a number greater than or equal to 1.</div>
        </div>

        <span class="param-title">Min Delta</span>
        <div class="params containar" fxLayout="column">
          <div class="input-area">
            <input type="number" class="form-num" name="early-min-delta-num" required min="0" step="0.01"
              #earlyStopMinDeltaVal="ngModel" [(ngModel)]="earlyStopMinDelta"
              [disabled]="isTraining || !earlyStoppingFlag">
          </div>
          <div *ngIf="earlyStopMinDeltaVal.invalid" class="warn">Please enter a number greater than or equal to 0.</div>
        </div>

      </div>

      <!-- data augment -->
      <div class="container train-param-area" fxLayout="column">
        <div class="param-type">data augment parameter</div>
        <!-- augment rate -->
        <mat-slide-toggle class="train-param-slide" name="augment-rate-flag" color="primary"
          [(ngModel)]="augmentRateFlag" [disabled]="isTraining">
          <span class="param-title">Augment Rate</span>
        </mat-slide-toggle>
        <div class="input-area">
          <input class="form-num" name="augment-rate" type="number" required min="0" max="1" step="0.1"
            #augmentRateVal="ngModel" [(ngModel)]="augmentRate" [disabled]="!augmentRateFlag || isTraining">
        </div>
        <div *ngIf="augmentRateVal.invalid" class="warn">Please enter a number between 0 and 1.</div>
        <div class="container" fxLayout="row">
          <div class="container train-column-area" fxLayout="column">

            <!-- cut out range -->
            <mat-slide-toggle class="train-param-slide" name="cut-out-flag" color="primary" [(ngModel)]="cutOutFlag"
              [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Cut Out Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="cut-out-range" type="number" required min="0" max="1" step="0.1"
                #cutOutRangeVal="ngModel" [(ngModel)]="cutOutRange"
                [disabled]="!cutOutFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="cutOutRangeVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- random crop range -->
            <mat-slide-toggle class="train-param-slide" name="random-crop-range-flag" color="primary"
              [(ngModel)]="cropFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Random Crop Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="random-crop-range" type="number" required min="0" max="1" step="0.1"
                #cropVal="ngModel" [(ngModel)]="cropRange" [disabled]="!cropFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="cropVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- shear range -->
            <mat-slide-toggle class="train-param-slide" name="shear-range-flag" [(ngModel)]="shearFlag" color="primary"
              [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Shear Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="shear-range" type="number" required min="0" max="1" step="0.1"
                #shearRangeVal="ngModel" [(ngModel)]="shearRange"
                [disabled]="!shearFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="shearRangeVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- rotation range -->
            <mat-slide-toggle class="train-param-slide" name="rotation-range-flag" color="primary"
              [(ngModel)]="rotationFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Rotation Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="rotation-range" type="number" required min="0" max="180" step="5"
                #rotationRangeVal="ngModel" [(ngModel)]="rotationRange"
                [disabled]="!rotationFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="rotationRangeVal.invalid" class="warn">Please enter a number between 0 and 180.</div>

            <!-- width shift range -->
            <mat-slide-toggle class="train-param-slide" name="width-shift-range-flag" color="primary"
              [(ngModel)]="widthShiftFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Width Shift Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="width-shift-range" type="number" required min="0" max="1" step="0.1"
                #widthShiftRangeVal="ngModel" [(ngModel)]="widthShiftRange"
                [disabled]="!widthShiftFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="widthShiftRangeVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- height shift range -->
            <mat-slide-toggle class="train-param-slide" name="height-shift-range-flag" color="primary"
              [(ngModel)]="heightShiftFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Height Shift Range</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="height-shift-range" type="number" required min="0" max="1" step="0.1"
                #heightShiftRangeVal="ngModel" [(ngModel)]="heightShiftRange"
                [disabled]="!heightShiftFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="heightShiftRangeVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- horizontal flip -->
            <mat-slide-toggle class="train-param-slide" name="horizontal-flip-flag" color="primary"
              [(ngModel)]="horizontalFlipFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Horizontal Flip</span>
            </mat-slide-toggle>

            <!-- vertical flip -->
            <mat-slide-toggle class="train-param-slide" name="vertical-flip-flag" color="primary"
              [(ngModel)]="verticalFlipFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Vertical Flip</span>
            </mat-slide-toggle>

          </div>

          <div class="container train-column-area" fxLayout="column">
            <!-- noise injection -->
            <mat-slide-toggle class="train-param-slide" name="noise-injection-flag" color="primary"
              [(ngModel)]="noiseInjectionFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Noise Injection</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="noise-injection" type="number" required min="0" max="1" step="0.1"
                #noiseInjectionVal="ngModel" [(ngModel)]="noiseInjection"
                [disabled]="!noiseInjectionFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="noiseInjectionVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- blur filter -->
            <mat-slide-toggle class="train-param-slide" name="blur-filter-flag" color="primary"
              [(ngModel)]="blurFilterFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Blur Filter</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="blur-filter" type="number" required min="0" max="1" step="0.1"
                #blurFilterVal="ngModel" [(ngModel)]="blurFilter"
                [disabled]="!blurFilterFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="blurFilterVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- random hue -->
            <mat-slide-toggle class="train-param-slide" name="random-hue-flag" color="primary"
              [(ngModel)]="randomHueFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Random Hue</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="random-hue" type="number" required min="0" max="1" step="0.1"
                #randomHueVal="ngModel" [(ngModel)]="randomHue"
                [disabled]="!randomHueFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="randomHueVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- random saturation -->
            <mat-slide-toggle class="train-param-slide" name="random-saturation-flag" color="primary"
              [(ngModel)]="randomSaturationFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Random Saturation</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="random-saturation" type="number" required min="0" max="1" step="0.1"
                #randomSaturationVal="ngModel" [(ngModel)]="randomSaturation"
                [disabled]="!randomSaturationFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="randomSaturationVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- random brightness -->
            <mat-slide-toggle class="train-param-slide" name="random-brightness-flag" color="primary"
              [(ngModel)]="randomBrightnessFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Random Brightness</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="random-brightness" type="number" required min="0" max="1" step="0.1"
                #randomBrightnessVal="ngModel" [(ngModel)]="randomBrightness"
                [disabled]="!randomBrightnessFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="randomBrightnessVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- random contrast -->
            <mat-slide-toggle class="train-param-slide" name="random-contrast-flag" color="primary"
              [(ngModel)]="randomContrastFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Random Contrast</span>
            </mat-slide-toggle>
            <div class="input-area">
              <input class="form-num" name="random-contrast" type="number" required min="0" max="1" step="0.1"
                #randomContrastVal="ngModel" [(ngModel)]="randomContrast"
                [disabled]="!randomContrastFlag || !augmentRateFlag || isTraining">
            </div>
            <div *ngIf="randomContrastVal.invalid" class="warn">Please enter a number between 0 and 1.</div>

            <!-- grayscale -->
            <mat-slide-toggle class="train-param-slide" name="grayscale-flag" color="primary"
              [(ngModel)]="grayscaleFlag" [disabled]="!augmentRateFlag || isTraining">
              <span class="param-title">Grayscale</span>
            </mat-slide-toggle>
          </div>
        </div>
      </div>

    </div>
    <mat-card-actions>
      <button mat-button color="primary" class="training-button"
        [disabled]="!canTrain() || isTraining || trainingForm.invalid" (click)="startTraining()">
        <mat-icon>trending_up</mat-icon>
        start training
      </button>
      <button mat-button color="primary" class="training-button" [disabled]="!isTraining || isCancelTraining"
        (click)="onCancelTraining()">
        <mat-icon>close</mat-icon>
        cancel training
      </button>

    </mat-card-actions>
  </form>
</mat-card>

<!-- training status -->
<mat-card *ngIf="isTraining || isCancelTraining">
  <h3>training status</h3>
  <div *ngIf="!isCancelTraining; else cancelTraining">
    <span class="training-status">{{ trainingStatus }}</span>
    <div class=training-bar>
      <mat-progress-bar *ngIf="trainingRate < 0; else determinate" mode="indeterminate"></mat-progress-bar>
      <ng-template #determinate>
        <mat-progress-bar mode="determinate" value="{{trainingRate}}"></mat-progress-bar>
      </ng-template>
    </div>
  </div>

  <!-- cancel status -->
  <ng-template #cancelTraining>
    <span class="training-status">{{ cancelStatus }}</span>
    <div class=training-bar *ngIf="isTraining">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</mat-card>

<!-- training report -->
<div *ngIf="hasTrained() && !isTraining">
  <mat-card class="train-menu-area">
    <h3>training report</h3>
    <div *ngIf="displayReport">
      <div id="report-area" class="container report-area" fxLayout="row">

        <div class="table-container report-log-area">
          <span> processing time</span>
          <table mat-table [dataSource]="reportLogs">
            <ng-container *ngFor="let column of reportLogLabals" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let data">{{ data[column] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="reportLogLabals"></tr>
            <tr mat-row *matRowDef="let row; columns: reportLogLabals;"></tr>
          </table>
        </div>

        <div class="report-log-area">
          <span> training class</span>
          <ul *ngFor="let index of trainedClassList">
            <li> {{ labeledDatas[index].label }} </li>
          </ul>
        </div>

        <div class="acc">
          <canvas baseChart id="acc" height="300" width="300" [data]="accLineChartData" [options]="accLineChartOptions"
            [type]="'line'"></canvas>
        </div>
        <div class="loss">
          <canvas baseChart id="loss" height="300" width="300" [data]="lossLineChartData"
            [options]="lossLineChartOptions" [type]="'line'"></canvas>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <button mat-button color="primary" *ngIf="!displayReport; else hiddenReport" (click)="changeDisplayReport()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <ng-template #hiddenReport>
      <button mat-button color="primary" (click)="changeDisplayReport()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </ng-template>
  </mat-card>
</div>

<app-project-menu (setDataset)="setDataset($event)" (getDataset)="getDataset($event)">
</app-project-menu>