h3 {
  margin-left: 10px;
}

.summary-area {
  margin-top: 10px;
  padding: 5px;
}

.summary {
  width: 100%;
}

.chart {
  margin: 0 auto;
}

.add-image-message {
  margin-left: 10px;
  color: red;
}

.upload-menu {
  margin-top: 10px;
  padding-bottom: 10px;
}

.param-title {
  margin-top: 10px;
  margin-left: 10px;
}

.params {
  margin-left: 20px;
}

.form-input-area {
  border: 2px solid silver;
  border-radius: 30px;
  padding: 0 10px;
  width: 80px;
}

.form-num {
  margin: 5px;
  border: none;
  width: 90%;
}

.param-radio {
  margin-left: 5px;
}

.param-box {
  margin-left: 5px;
}

.param-label {
  margin-left: 5px;
}

.collection-area {
  margin-top: 10px;
}

.delete-area {
  position: absolute;
  top: 0%;
  right: 0%;
}

.delete-button {
  margin-left: 5px;
  background-color: #E8F0FE;
}

.warn {
  display: inline-flex;
  align-items: center;
  color: red;
}

.label-area {
  margin: 10px;
  display: grid;
  place-items: center;
}

.class-index {
  margin-right: 5px;
}

.input-area {
  border: 2px solid silver;
  border-radius: 30px;
  padding: 0 10px;
}

.label {
  border: none;
  vertical-align: middle;
}

.edit-icons {
  color: gray;
  margin-left: 10px;
  vertical-align: middle;
}

.image-num {
  margin-left: 10px;
}

.button-area {
  margin: 10px;
}

.button {
  padding: 5px;
  background-color: #E8F0FE;
  width: 100px;
}

.add-area {
  margin-top: 20px;
  border: 2px dotted black;
}

.coll-webcam-area {
  margin: 10px;
}

.menu-area {
  margin-top: 20px;
  padding: 10px;
}

.menu-button {
  margin: 10px;
  background-color: #E8F0FE;
}