<div id="{{ prefix }}-thumbnails{{ index }}" class="container thumbnails" fxLayout="row">

</div>
<div [ngSwitch]="thumbnailsLayout" class="">
  <button mat-button class="arrow-button" color="primary" (click)="changeLayoutValue()"
    *ngSwitchCase="thumbnailsLayoutMenus[0]">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <button mat-button class="arrow-button" color="primary" (click)="changeLayoutValue()"
    *ngSwitchCase="thumbnailsLayoutMenus[1]">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>